{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".graphql"]
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./App"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
